<DPopover
  @options={{hash
    arrow=false
    trigger="click"
    placement="right-start"
    offset=(array -5 10)
  }}
>
  <DButton
    class={{concat-class
      "bookmark with-reminder widget-button btn-flat no-text btn-icon discourse-bookmark-menu__trigger"
      (if @post.bookmarked "-bookmarked")
    }}
  >
    {{#if @post.bookmarkReminderAt}}
      {{d-icon "discourse-bookmark-clock"}}
    {{else}}
      {{d-icon "bookmark"}}
    {{/if}}
  </DButton>

  <ul class="discourse-bookmark-menu__body">
    {{#if @post.bookmarked}}
      <li class="discourse-bookmark-menu__row -edit">
        <DButton
          @icon="pencil-alt"
          @translatedLabel="Edit"
          @action={{this.onEditReminder}}
          class="discourse-bookmark-menu__row-btn btn-flat"
        />
      </li>
      <li
        class="discourse-bookmark-menu__row -remove"
        role="button"
        tabindex="0"
        {{on "click" this.onRemoveBookmark}}
      >
        <DButton
          @icon="trash-alt"
          @translatedLabel="Delete"
          @action={{this.onRemoveBookmark}}
          class="discourse-bookmark-menu__row-btn btn-flat"
        />
      </li>
    {{else}}
      <li class="discourse-bookmark-menu__row">
        <span class="discourse-bookmark-menu__row-title">Set a reminder?</span>
      </li>
      {{#each this.reminderAtOptions as |option|}}
        <li class={{concat-class "discourse-bookmark-menu__row" option.class}}>
          <DButton
            {{did-insert (fn this.autoFocusButton option)}}
            @translatedLabel={{option.name}}
            @action={{fn this.onChooseOption option}}
            class="discourse-bookmark-menu__row-btn btn-flat"
          />
        </li>
      {{/each}}

    {{/if}}
  </ul>
</DPopover>